body {
  position: relative;
}
.nav-name {
  font-family: "Euclid Circular B", sans-serif;
  font-weight: 500;
}
.nav-link {
  font-family: "Euclid Circular B", sans-serif;
  font-weight: 400;
}
.main-font {
  font-family: "Euclid Circular B", sans-serif;
}

